body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

h1 {
    font-size: 48px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 40px;
  }

  #dogs-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#dogs-list li {
    padding: 10px;
    background-color: #eee;
    border-bottom: 1px solid #ccc;
}

.remove {
    background-color: #8B4513;
    color: white;
  }

  .hero-section {
    background-image: url('https://img.freepik.com/premium-photo/french-bulldog-puppy-sleeps-blanket-top-view_106368-5980.jpg?w=2000');
    background-size: cover;
    background-position: center;
    height: 500px;
  }

  :root {
    --primary-color: #a57c41;
    --secondary-color: #5c8a5e;
  }

  body {
    background-color: var(--primary-color);
  }

  h1 {
    color: var(--secondary-color);
  }

  h1 {
    font-family: 'Comic Sans MS', cursive;
  }

  body {
    font-family: 'Open Sans', sans-serif;
  }