body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

h1 {
    font-size: 48px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 40px;
  }

  #dogs-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#dogs-list li {
    padding: 10px;
    background-color: #eee;
    border-bottom: 1px solid #ccc;
}

.remove {
    background-color: #8B4513;
    color: white;
  }